<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>密码修改</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for("register.static",filename='css/register-login.css') }}">
</head>
<body>
<!--背景特效div-->
<div id="box"></div>
<!--<img src="../../static/img/81.jpg">-->
<div class="cent-box">
    <div class="cent-box-header">
        <a href="#"><h1 class="main-title hide">小白商城</h1></a>
        <h1>重置密码</h1>
	</div>
	<div class="cont-main clearfix">
        <div id="Login">
            <div class="login form">
                <div class="group">
                    <meta name="csrf-token" content="{{ csrf_token() }}">
                    <div class="group-ipt email">
                        <input type="password" name="email" id="email" class="ipt" placeholder="请输入新密码" required>
                    </div>
                    <div class="group-ipt verify">
                        <input type="password" name="verify" id="verify" class="ipt" placeholder="请输入确认密码" required>
                    </div>
                </div>
                <a style="font-size: 10px">密码长度6~12位</a>
            </div>
            <div class="button">
                <!--用户重置密码后跳转到登录页面-->
                <button type="button" class="login-btn register-btn" id="button">提交</button>
            </div>
        </div>
	</div>
</div>
<div class="footer">
	<p>小白商城 - Thousands Find</p>
	<p>Designed By xiaobai & <a href="#">baidu.com</a> 2018</p>
</div>
<script src='{{ url_for("register.static",filename="js/particles.js") }}' type="text/javascript"></script>
<script src='{{ url_for("register.static",filename="js/background.js") }}' type="text/javascript"></script>
<script src='{{ url_for("register.static",filename="js/jquery.min.js") }}' type="text/javascript"></script>
<script src='{{ url_for("register.static",filename="js/layer/layer.js") }}' type="text/javascript"></script>
<script type="text/javascript">
    var pwd_Boolean = true;var pwd1_Boolean = true;var csrftoken =$("meta[name=csrf-token]").attr("content");
    $("#email").blur(function () {
        if ($("#email").val().length<6){
            layer.tips("密码不能小于6位数", '#email', {
                time: 6000,
                tips: [2, "#ff8b2f"],
                tipsMore: true
            });
            pwd_Boolean = false
        }else if($("#email").val().length>12){
            layer.tips("密码不能大于12位数", '#email', {
                time: 6000,
                tips: [2, "#ff8b2f"],
                tipsMore: true
            });
            pwd_Boolean = false
        }else {
            pwd_Boolean = true
        }
    });
    //判断重复密码是否和原来输入的相同
    $("#verify").blur(function () {
        if($("#verify").val()!=$("#email").val()){
            layer.tips("重复密码输入错误！", '#verify', {
                time: 6000,
                tips: [2, "#ff8b2f"],
                tipsMore: true
            });
            pwd1_Boolean = false
        }else {
            pwd1_Boolean = true
        }
    });
    $("#button").click(function () {
        if (pwd_Boolean && pwd1_Boolean && $("#email").val()){
            $.ajax({
                url:"/register/reset_password",
                type:"POST",
                dataType: "json",
                data: {"pwd": $("#email").val()},
                headers: {"X-CSRFToken": csrftoken},
                success:function () {
                    alert("密码重置成功！");
                    location.href="/register/login"
                },error:function () {
                    alert("错误")
                }
            })
        }
    })
</script>
</body>
</html>