<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>验证码发送</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for("register.static",filename='css/register-login.css') }}">
</head>
<body>
<!--背景特效div-->
<div id="box"></div>
<!--<img src="../../static/img/81.jpg">-->
<div class="cent-box">
    <div class="cent-box-header">
        <a href="#"><h1 class="main-title hide">小白商城</h1></a>
        <h1>小白账号安全验证</h1>
	</div>
	<div class="cont-main clearfix">
		<div class="index-tab">
			<div class="index-slide-nav">
                <!--如果判断是邮箱的话则为显示为，使用邮箱 280*****.com-->
                {% if data.flag == "0" %}
                    <a id="hint">请使用安全手机<span>{{ data.name }}</span>获取验证码</a>
                {% else %}
                    <a id="hint">请使用安全邮箱<span>{{ data.name }}</span>获取验证码</a>
                {% endif %}
			</div>
		</div>
        <div id="Login">
            <input type="text" id="ID" value="{{ data.name1 }}" style="display: none">
            <div class="login form">
                <div class="group">
                    <div class="group-ipt verify">
                        <input type="text" name="user" id="user" class="ipt" placeholder="输入验证码" maxlength="6" required>
                        <input type="button" id="btn" class="imgcode" value="获取验证码"/>
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="button" class="login-btn register-btn" id="button">确认</button>
            </div>
        </div>
	</div>
</div>
<div class="footer">
	<p>小白商城 - Thousands Find</p>
	<p>Designed By xiaobai & <a href="#">baidu.com</a> 2018</p>
</div>
<script src='{{ url_for("register.static",filename="js/particles.js") }}' type="text/javascript"></script>
<script src='{{ url_for("register.static",filename="js/background.js") }}' type="text/javascript"></script>
<script src='{{ url_for("register.static",filename="js/jquery.min.js") }}' type="text/javascript"></script>
<script src='{{ url_for("register.static",filename="js/layer/layer.js") }}' type="text/javascript"></script>
</body>
<script type="text/javascript">
    //输入的验证码正确才能进入验证码
    $(".button").click(function () {
        $.ajax({
            url:"/register/judge_message",
            type: "POST",
            dataType: "json",
            data: {"message": $("#user").val()},
            success:function (data) {
                if (data=="1"){
                    location.href="/register/reset_password"
                }else {
                    alert("验证码错误")
                }
            }
        })
    });
    $(function () {
        //点击获取验证码会直接去获取验证码
        $('#btn').click(function () {
            var myReg=/^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
            var ID = $("#ID").val();
            //判断是邮箱还是电话，不同的账号对应不同的发送
            if (myReg.test(ID)){
                $.ajax({
                    url:"/register/send_email",
                    type: "POST",
                    dataType: "json",
                    data: {"email": ID},
                    success:function () {
                        alert("邮件验证码已发送！")
                    },error:function () {
                        alert("没有获取返回的数据")
                    }
                });
            }else {
                $.ajax({
                    url:"/register/send_phone",
                    type: "POST",
                    dataType: "json",
                    data: {"phone": ID},
                    success:function () {
                        alert("短信验证码已发送！")
                    },error:function () {
                        alert("没有获取返回的数据")
                    }
                });
            }

            var count = 60;
            //setInterval() 方法可按照指定的周期（以毫秒计）来调用函数,这里每隔1秒调用一次CountDown函数
            var countdown = setInterval(CountDown, 1000);
            function CountDown() {
                //disabled是规定应该禁用input属性，被禁用的input元素不可用
                $("#btn").attr("disabled", true);
                $("#btn").val(count + " 秒后再次获取!");
                if (count == 0) {
                    //removeAttr()移除被选定元素的id
                    $("#btn").val("重新获取验证码").removeAttr("disabled");
                    clearInterval(countdown);
                }
                count--;
            }
        })
    });
</script>
</html>